.top-segment {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-color: 
        transparent transparent rgba(255, 255, 255, 0.08) transparent,
        transparent transparent rgba(0, 0, 0, 0.5) transparent;
    -fx-border-width: 1, 1.5;
    -fx-border-insets: -1, 0; 
}

.background {
    -fx-background-image: url("adminBackground.jpg");
    -fx-background-size: 100% auto;
    -fx-background-repeat: repeat;
}

.border {
     -fx-background-image: url("TopBottomBar.jpg");
    -fx-background-size: 100% auto;
    -fx-background-repeat: repeat; 
}

.button .text {
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, .8), 0, 0.0 , 0 , -1 );
}

.button {
    -fx-background-color:
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.8),
        #090a0c,
        linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
        linear-gradient(#242a3e, #23283e),
        radial-gradient(center 60% 0%, radius 100%, rgba(130,140,148,1),
        rgba(255,255,255,0));
    -fx-background-radius: 5, 4, 3, 2, 1, 3;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 2 4 2 15;
}

.button:focused, .button:hover {
    -fx-background-color:
        rgba(255, 255, 255, 0.08),
        rgba(0, 0, 0, 0.8),
        #090a0c,
        linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
        linear-gradient(#3f4950, #23282e),
        radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,0.9),
        rgba(255,255,255,0));
}

.button:focused, .button:hover {
    -fx-background-color:
        rgba(255, 255, 255, 0.08),
        rgba(0, 0, 0, 0.8),
        #090a0c,
        linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
        linear-gradient(#3f4950, #23282e),
        radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,0.9),
        rgba(255,255,255,0));
}